<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>File List</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        {% include 'navbar.html' %}
    </head>
    <body>
        <div class="container">
            <div class="column column-left">
                <h1>ZIP File list</h1>
                <!-- <ul>
                    IP UZYTKOWNIKA 
                    {% for file_info in files %}
                        <li class="draggable" data-id="{{ file }}" draggable="true">{{ file_info['user_ip'] }} {{ file_info['filename'] }}</li>
                    {% endfor %}
                    {% for file in files %}
                        <li class="draggable" data-id="{{ file }}" draggable="true">{{ file }}</li>
                    {% endfor %}
                </ul> -->
                <!-- <ul>
                    {% for file_info in files %}
                        <li class="draggable" data-id="{{ file_info.filename }}" draggable="true">
                            {{ file_info.filename }} - Etykieta: {{ file_info.label }}
                        </li>
                    {% endfor %}
                </ul> -->
                <ul>
                    {% for file_info in files %}
                        <li class="draggable" data-id="{{ file_info.file_path }}" draggable="true">
                            {{ file_info.file_path }} - Etykieta: {{ file_info.file_label }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column column-right">
                <h1>Queue</h1>
                <div id="current"></div>
            </div>
        </div>
        <script>
            // Uruchomienie skryptu po załadowaniu dokumentu
            document.addEventListener('DOMContentLoaded', (event) => {
                // Znalezienie wszystkich elementów, które można przeciągać
                const listItems = document.querySelectorAll('.draggable');
                listItems.forEach(item => {
                    // Dodanie obsługi zdarzeń dla przeciągania i upuszczania
                    item.addEventListener('dragstart', handleDragStart, false);
                    item.addEventListener('dragover', handleDragOver, false);
                    item.addEventListener('drop', handleDrop, false);
                });
        
                // Funkcja obsługująca rozpoczęcie przeciągania
                function handleDragStart(e) {
                    e.dataTransfer.effectAllowed = 'move';
                    e.dataTransfer.setData('text/plain', e.target.getAttribute('data-id'));
                }
        
                // Funkcja obsługująca przebieg przeciągania nad elementem
                function handleDragOver(e) {
                    e.preventDefault(); // Zapobieganie domyślnemu zachowaniu przeglądarki
                }
        
                // Funkcja obsługująca upuszczenie elementu
                function handleDrop(e) {
                    e.stopPropagation(); // Zapobieganie propagacji zdarzenia dalej
        
                    // Pobieranie identyfikatora przeciąganego elementu
                    const draggedItemId = e.dataTransfer.getData('text/plain');
                    const targetItem = e.target.closest('.draggable');
                    
                    // Zamiana miejscami elementów w DOM
                    const list = targetItem.parentNode;
                    const draggedItem = list.querySelector(`[data-id="${draggedItemId}"]`);
                    list.insertBefore(draggedItem, targetItem.nextSibling);
                    
                    // Tworzenie zaktualizowanej kolejności
                    const updatedOrder = Array.from(list.children).map(item => ({
                        filename: item.getAttribute('data-id')
                    }));
        
                    // Wysyłanie zaktualizowanej kolejności do serwera
                    fetch('/update_order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(updatedOrder),
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        updateLabelsDisplay(data.new_order); // Aktualizacja etykiet
                    })
                    .catch(error => console.error('Błąd:', error));
                }
        
                // Funkcja do aktualizacji etykiet
                function updateLabelsDisplay(updatedOrder) {
                    updatedOrder.forEach((item, index) => {
                        let listItem = document.querySelector(`[data-id="${item.filename}"]`);
                        if (listItem) {
                            listItem.textContent = `${item.filename} - Etykieta: ${index === 0 ? '1' : '2'}`;
                        }
                    });
                }
        
                // Wywołanie aktualizacji wyświetlanych danych
                updateCurrentOrderDisplay();
            });
        
            // Funkcja do pobierania i wyświetlania aktualnej kolejności
            function updateCurrentOrderDisplay() {
                fetch('/get_current_order')
                    .then(response => response.json())
                    .then(data => {
                        const orderContainer = document.getElementById('current');
                        orderContainer.innerHTML = ''; // Wyczyść obecny stan
        
                        data.current_order.forEach(item => {
                            const listItem = document.createElement('p');
                            listItem.textContent = item.filename; // Wyświetlanie nazwy pliku
                            orderContainer.appendChild(listItem);
                        });
                    }).then(data => console.log(data))
                    .catch(error => {
                        console.error('Błąd fetch:', error);
                    });
            }
        </script>        
    </body>
</html>