<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasek Nawigacji</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/upload_files">Upload files</a>
        <a href="/filelist">File list</a>
    </div>

    <!-- Tutaj umieścisz resztę treści strony -->
</body>
</html>